/vendor
composer.lock
composer.phar
/features/fixtures/project/public/bundles
/features/fixtures/project/var/cache/*
/features/fixtures/project/var/logs/*
!/features/fixtures/project/var/logs/.gitkeep
