default: &default
    suites:
        default:
            contexts:
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\MapContext
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\WebUserContext
    extensions:
        FriendsOfBehat\MinkDebugExtension:
            directory: features/fixtures/project/var/debug
            clean_start: true
        FriendsOfBehat\SymfonyExtension:
            kernel:
                path: features/fixtures/project/src/Kernel.php
                class: FSi\FixturesBundle\Kernel
        Behat\MinkExtension:
            base_url: 'http://form-extensions-web'
            javascript_session: javascript
            sessions:
                default:
                    symfony: ~
                javascript:
                    selenium2:
                        browser: firefox
                        wd_host: http://form-extensions-selenium:4444/wd/hub
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: FSi\Bundle\FormExtensionsBundle\Behat\Page
                element: FSi\Bundle\FormExtensionsBundle\Behat\Element
actions:
    <<: *default
    extensions:
        Behat\MinkExtension:
            base_url: http://test-container:8080/
            sessions:
                javascript:
                    selenium2:
                        browser: firefox
                        wd_host: http://firefox:4444/wd/hub
    calls:
        # E_ALL&~E_USER_DEPRECATED
        error_reporting: 16383
