default: &default
    suites:
        default:
            contexts:
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\MapContext
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\WebUserContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: vendor/autoload.php
            kernel:
                class: FSi\FixturesBundle\Kernel
                environment: test
                debug: true
        Behat\MinkExtension:
            base_url: 'http://127.0.0.1/'
            javascript_session: javascript
            sessions:
                default:
                    symfony: ~
                javascript:
                    selenium2:
                        browser: firefox
                        wd_host: http://form-extensions-selenium:4444/wd/hub
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: FSi\Bundle\FormExtensionsBundle\Behat\Page
                element: FSi\Bundle\FormExtensionsBundle\Behat\Element
travis:
    <<: *default
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8080/
            sessions:
                javascript:
                    selenium2:
                        browser: firefox
                        wd_host: http://127.0.0.1:4444/wd/hub
    calls:
        # E_ALL&~E_USER_DEPRECATED
        error_reporting: 16383
