default: &default
    suites:
        default:
            contexts:
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\MapContext
                - FSi\Bundle\FormExtensionsBundle\Behat\Context\WebUserContext
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2:
                        browser: firefox
            base_url: 'http://fsi-form-extensions-bundle.dev/app_test.php/'
            javascript_session: javascript
        Behat\Symfony2Extension:
            kernel:
                env: test
                debug: true
                path: features/fixtures/project/app/AppKernel.php
                bootstrap: features/fixtures/project/app/bootstrap.php
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: FSi\Bundle\FormExtensionsBundle\Behat\Context\Page
                element: FSi\Bundle\FormExtensionsBundle\Behat\Context\Page\Element
travis:
    <<: *default
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8080/app_test.php/
