---
version: '3'

services:
    web:
        image: fsiopenpl/docker-php-apache:alpine-8.1
        container_name: form-extensions-web
        ports:
            - 80:80
            - 443:443
        environment:
            PHP_IDE_CONFIG: 'serverName=localhost'
            XDEBUG_CONFIG: 'idekey=PHPSTORM discover_client_host=false client_host=host.docker.internal'
            XDEBUG_MODE: debug
            DOCROOT: '/var/www/application/features/fixtures/project/public'
            HOST_UID: 1000
            HOST_GID: 1000
            APP_ENV: test
        volumes:
            - .:/var/www/application
            - ~/.composer:/var/www/.composer
        extra_hosts:
            - "host.docker.internal:host-gateway"
    selenium:
        image: selenium/standalone-firefox:2.53.1
        container_name: form-extensions-selenium
