includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 8
    paths:
        - '%currentWorkingDirectory%'
    excludePaths:
        - '%currentWorkingDirectory%/DependencyInjection/Configuration.php'
        - '%currentWorkingDirectory%/Resources'
        - '%currentWorkingDirectory%/spec'
        - '%currentWorkingDirectory%/vendor'
        - '%currentWorkingDirectory%/features/fixtures/project/config/reference.php'
        - '%currentWorkingDirectory%/features/fixtures/project/var/cache'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#.*Symfony\\Component\\Routing\\RouteCollectionBuilder.*#'
            path: '%currentWorkingDirectory%/features/fixtures/project/src/Kernel.php'
