<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title '' %}</title>
    {% block stylesheets '' %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js"></script>
</head>
<body>
{% block body '' %}
{% block javascripts '' %}
</body>
</html>
